name: state_management
description: "A new Flutter package project."
version: 0.0.1

environment:
  sdk: ">=3.10.0 <4.0.0"
  flutter: ">=3.38.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
